@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  overflow-x: hidden !important;
}

/* common classes */

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.c-pointer {
  cursor: pointer !important;
}

.c-default {
  cursor: default !important;
}

.concern-label {
  background: transparent;
  width: 290px;
  height: 43px;
  display: flex;
  padding-left: 40px !important;
  align-items: center;
  border-radius: 50px;
  left: 10px !important;
  bottom: 7px;
}

.d-none {
  display: none;
}

.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;
}

.btn-yellowish {
  background-color: #F8943F;
  border: 1px solid #DE6F0D;
  color: #ffffff;
  font-family: Raleway;
  font-size: 18px;
  padding: 20px 145px;
  border-radius: 50px;
}

.bg-white {
  background-color: #ffffff !important;
}

/* Navbar Styling */

nav {
  position: fixed;
  width: 100vw;
  background-color: #fff1e6;
  height: 90px;
  z-index: 150;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.nav-arrow {
  margin-left: 8px;
}

.inner-nav-items {
  font-family: Raleway;
  font-size: 16px;
  font-weight: 500;
  line-height: 25.83px;
  text-align: left;
  margin: 5px;
}

.line {
  width: 24px;
  height: 1px;
  gap: 0px;
  background-color: #4d2c19;
  border-color: #4d2c19;
  transform: rotate(90deg);
}

#btn-appoint {
  background-color: #f8943f;
  color: #ffffff;
  width: 240px;
  height: 60px;
  gap: 16px;
  border-radius: 50px;
  margin-left: 25px;
  border: 1px solid #de6f0d;
}

#btn-help {
  border: 2px solid #fbbe9c;
  border-radius: 50px;
  gap: 16px;
  width: 150px;
  height: 55px;
}

#logo {
  height: 65px;
  position: relative;
  left: -20px;
  margin-right: 100px;
}

/* Navbar toggle */

#btn-nav-toggle {
  display: none;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.menu-item {
  width: 1.5rem;
  height: 0.25rem;
  background-color: black;
  border-radius: 3px;
  margin: 3px;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

/* classes for menu animation */

.p-relative {
  position: relative;
}

.rotate-45 {
  transform: rotate(45deg);
}

.rotate-135 {
  transform: rotate(135deg);
}

.top-2 {
  top: 0.5rem;
}

.opacity-0 {
  opacity: 0;
}

/* Side navbar code - for responsive ness */

#side-nav {
  position: fixed;
  background-color: #f5e0d0;
  height: 100vh;
  width: 260px;
  left: 0;
  top: 0;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  z-index: 200;
}

.side-top-item {
  margin-top: 20px;
  flex-direction: column;
  list-style: none;
  padding-left: 50px;
  align-items: start;
  gap: 16px;
}

.side-bottom-item {
  position: absolute;
  bottom: 25px;
  left: -18px;
  flex-direction: column;
  list-style: none;
}

.translate-side-nav {
  transform: translateX(-260px);
}

#side-nav-closer {
  position: fixed;
  height: 100vh;
  width: calc(100vh - 260px);
  margin-left: 260px;
  background-color: rgba(36, 35, 35, 0.105);
  z-index: 190;
}

#side-nav-top-closer {
  position: relative;
  margin: 20px;
  left: 180px;
}

/* Modal Styling */

/* 1. treatments modal */

#treatments-modal {
  background-color: #ffffff;
  position: fixed;
  top: 100px;
  right: 10vw;
  font-family: Raleway;
  font-size: 16px;
  border: 1px solid #eed8c5;
  border-radius: 20px;
  padding: 20px;
  z-index: 260;
}

#treatments-modal ul {
  list-style: none;
}

#treatments-modal ul li {
  margin: 35px;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  width: 260px;
  font-weight: 430;
}

#treatments-modal ul li:hover {
  color: #f8943f;
  font-weight: 700;
}

#btn-call-help {
  background-color: #f8943f;
  color: #ffffff;
  width: 265px;
  height: 40px;
  border-radius: 50px;
  border: 1px solid #de6f0d;
  justify-content: center !important;
  position: relative;
  left: 25px;
  bottom: 12px;
}

#treatments-modal-closer {
  position: fixed;
  background-color: #00000000;
  width: 100vw;
  height: 100vh;
  z-index: 250;
}

/* 2. Book modal */

#book-modal-closer {
  position: fixed;
  background-color: #00000039;
  width: 100vw;
  height: 100vh;
  transition: all 0.4s ease-in;
  top: 0;
  left: 0;
  z-index: -1;
}

#book-modal-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 260;
}

#book-modal {
  background-color: #ffffff;
  padding: 30px;
  font-family: Raleway;
  border-radius: 40px;
  width: 45vw;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: start;
  height: 70vh;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
#book-modal::-webkit-scrollbar {
  display: hidden;
}

.book-heading h2 {
  color: #303030;
  font-weight: 700;
  font-size: 34px;
  margin-bottom: 10px;
}

.book-heading p {
  color: #303030;
  font-weight: 500;
  font-size: 19.7px;
}


.book-form  h3 {
  color: #EA7D28;
  text-align: left;
  font-size: 25px;
  margin-top: 40px;
}

/* Form styling */

.inputContainer {
  position: relative;
  height: 100px;
}

.inputContainer input {
  outline: none;
  font-family: Raleway;
  font-size: 1.3rem;
  font-weight: 600;
  padding: 15px 20px;
  color: #5E5E5E;
  border: 2px solid #B0B0B0;
  border-radius: 50px;
  margin: 40px 25px ;
  z-index: 100;
  background: transparent;
}

.inputContainer label {
  font-family: Raleway;
  font-size: 1.3rem;
  font-weight: 500;
  color: #888888;
  position: absolute;
  bottom: 15px;
  left: 50px;
  transition: all 0.2s ease-in;
  background-color: #ffffff;
  height: 26px;
  padding: 3px;
  z-index: 0;
  cursor: text;
}

#firstNameInput:focus + #firstNameLabel {
  font-size: 16px;
  bottom: 40px;
  left: 50px;
}
#lastNameInput:focus + #lastNameLabel {
  font-size: 16px;
  bottom: 40px;
  left: 50px;
}
#mobileInput:focus + #mobileLabel {
  font-size: 16px;
  bottom: 40px;
  left: 50px;
}
#emailInput:focus + #emailLabel {
  font-size: 16px;
  bottom: 40px;
  left: 50px;
}

#form {
  flex-wrap: wrap;
}

#btn-next {
  background-color: #F8943F;
  color: #ffffff;
  width: 250px;
  height: 58px;
  border-radius: 50px;
  font-size: 20px;
  cursor: pointer;
  font-weight: 400;
  margin-top: 40px;
}


/* 3. Help modal */

#help-modal {
  font-family: Raleway;
  font-weight: 500;
  background-color: #ffffff;
  position: fixed;
  top: 100px;
  right: 80px;
  width: 325px;
  padding: 20px 40px;
  border-radius: 20px;
  box-shadow: 0.2px -0.2px 0.2px lightblue inset;
  z-index: 260;
}

.help-region {
  font-size: 20px;
  margin-bottom: 10px;
}

.help-hr {
  border: 1px solid #FFC591;
  border-radius: 50px;
}

.help-contact {
  font-family: Open Sans;
  color: #303030;
  font-weight: 400;
}

.help-region-container {
  display: flex;
  justify-content: space-between;
  margin: 25px 0px;
}

#help-modal-closer {
  position: fixed !important;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 250;
  background: transparent;
}

/* Styling for Main Face */

.face-item {
  width: calc(100vw - 160px);
  height: 580px;
  padding: 0px 80px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: start;
  overflow-x: hidden;
}

#model-girl {
  position: absolute;
  bottom: 0px;
  right: 17vw;
  z-index: 1;
}

#first-item {
  background-color: #B5C1A6;
}

.item-content h1 {
  color: #303030;
  font-family: Raleway;
  font-weight: 800;
  font-size: 3.8rem;
  position: relative;
  z-index: 5;
  width: 55vw;
}

.item-content p {
  margin-top: 10px;
  font-family: Open Sans;
  color: #525252;
  font-size: 2rem;
  font-weight: 400;
  position: relative;
  z-index: 5;
}

.item-content b {
  font-family: Open Sans;
  color: #303030;
  font-size: 2rem;
  font-weight: 700;
  position: relative;
  z-index: 5;
}

.btn-buy-now {
  position: relative;
  z-index: 5;
}


/* Features section one styling */

#features-1 {
  margin: 40px 50px;
  justify-content: space-around;
}

.above-text {
  font-family: Open Sans;
  font-weight: 700;
  font-size: 1.8rem;
  justify-content: start !important;
}

.above-text p{
  color: #EA7D28;
}

.below-text {
  font-family: Open Sans;
  font-weight: 400;
  font-size: 1.5rem;
}

.google-below-text {
  font-family: Open Sans;
  font-weight: 600;
  font-size: 1rem;
  color: #303030;
}

.google-rating {
  font-family: Open Sans;
  font-weight: 700;
  font-size: 1.3rem;
  color: #4D2C19;
  justify-content: start;
  margin: 25px 0px 0px 15px;
}

.slider-item {
  margin: 20px;
}

.horizontal-slider {
  height: 108px;
  overflow-x: hidden;
  overflow-y: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;
}

.horizontal-slider::-webkit-scrollbar {
  display: none;
}

.city-select-container {
  display: flex;
  gap: 24px;
  flex-direction: column;
  position: relative;
}

.select-city {
  border: 1px solid #B0B0B0;
  border-radius: 50px;
  appearance: none;
  color: #A0A0A0;
  padding: 10px 20px;
  font-family: Raleway;
  font-weight: 500;
  font-size: 1.1rem;
  outline: none;
}

#select-icon {
  position: absolute;
  right: 25px;
  top: 17px;
}

.options {
  border: 0.8px solid #AFAFAF;
  border-radius: 20px;
  padding: 5px 15px;
  height: 215px;
  overflow-x: hidden;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  position: absolute;
  background-color: #ffffff;
  width: 273px;
  top: 45px;
  cursor: default;
  z-index: 8;
}

.options-closer {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: transparent;
  top: 0;
  left: 0;
}

#horizontal-line {
  border: 1px solid #FADABE;
  border-radius: 50px;
  height: 120px;
  margin: 20px;
}

.options::-webkit-scrollbar {
  display: none !important;
}

.options p {
  margin: 15px 10px;
  font-family: Open Sans;
  font-weight: 400;
}


/* Services styling */

#services {
  padding: 80px 90px;
}

#service-heading {
  font-family: Raleway;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
}

.service-container {
  background-color: #FFF9F4;
  padding: 40px 50px;
  flex-direction: column !important;
  gap: 36px;
  border-radius: 20px;
}

.service-items {
  display: flex;
  flex-wrap: wrap;
  column-gap: 16px;
  row-gap: 40px;
}

.service-item {
  background-color: #ffffff;
  border-radius: 15px;
  padding: 20px;
  width: 160px;
  height: 160px;
  flex-direction: column !important;
  justify-content: space-around;
}

pre {
  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.service-item p {
  text-align: center;
  margin-top: 15px;
  font-family: Raleway;
  font-size: 20px;
  font-weight: 600;
}

.btn-explore p{
  font-family: Raleway;
  font-weight: 700;
  font-size: 20px;
  text-decoration: underline;
}

/* Consultation styling */

.consultation {
  max-width: calc(100vw - 60px);
  left: 0;
  padding: 40px 30px;
  background-color: #ffffff;
  display: flex;
  column-gap: 30px;
  row-gap: 40px;
}

.consultation-features {
  display: flex;
  flex-wrap: wrap;
  row-gap: 15px;
}

.contact-form {
  background-color: #FFF9F4;
  padding: 60px 50px 60px 80px;
  width: 30vw;
  border-radius: 30px;
}

#nameInput:focus + #nameLabel {
  font-size: 16px;
  bottom: 40px;
  left: 50px;
}

#numberInput:focus + #numberLabel {
  font-size: 16px;
  bottom: 40px;
  left: 50px;
}

.concern-arrow {
  position: absolute;
  right: 30px;
  bottom: 25px;
}

#concerns-closer {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #c5969650;
}

.consult-heading {
  font-family: Raleway;
  font-weight: 700;
  font-size: 2.5rem;
  color: #303030;
  margin-bottom: 15px;
}

#concerns {
  top: 100px;
  left: 20px;
}

.consult-contact {
  font-family: Open Sans;
  font-weight: 400;
  font-size: 1.5rem;
  color: #474747;
}

.consult-input {
  padding: 15px 50px !important;
  margin: 40px 5px !important;
}

.btn-consult{
  margin: 30px 0px 0px 4px;
  padding: 20px 60px;
  width: fit-content;
  font-size: 1.2rem;
  font-weight: 500;
}

/* Protocols styling  */

.protocols {
  background-color: #FBF5FF;
  border-radius: 30px;
  padding: 45px 35px;
  position: relative;
  height: 250px;
}

.proto-heading {
  font-family: Open Sans;
  font-weight: 700;
  font-size: 3rem;
  color: #303030;
}

.proto-sub-heading {
  font-family: Open Sans;
  font-weight: 300;
  font-size: 1.8rem;
  color: #303030;
}

.proto-sub-heading b {
  font-weight: 400;
}

.proto-sub-heading #ai {
  font-size: 1rem;
  position: relative;
  top: -12px;
}

.btn-learn {
  font-family: Raleway;
  font-weight: 700;
  font-size: 1rem;
  color: #4D2C19;
  text-decoration: underline;
  position: absolute;
  bottom: 20px;
}

#doctor-img {
  position: absolute;
  bottom: 0px;
  right: 5px;
  width: 325px;
}

/* Neighbourhood Css */

.neighbourhood {
  width: 350px;
  border-radius: 30px;
  background-color: #F5F8FF;
  padding: 25px;
  flex-direction: column !important;
  gap: 24px;
}

.neighbour-heading {
  text-align: center;
  font-family: Raleway;
  font-weight: 700;
  font-size: 1.5rem;
  color: #303030;
}

.neighbour-container {
  gap: 16px;
}

.neighbour-sub-heading {
  font-family: Raleway;
  font-weight: 400;
  font-size: 1.1rem;
  color: #303030;
  text-align: center;
  margin-top: 3px;
}


/* Styling for own words section = */

.own-words {
  padding: 60px 0px;
  margin: 60px 0px;
}

.own-words h3 {
  font-family: Raleway;
  font-weight: 700;
  font-size: 2.2rem;
  text-align: center;
  color: #303030;
  margin-bottom: 50px;
}

.person-name {
  font-family: Open Sans;
  font-size: 1rem;
  font-weight: 600;
  color: #4D2C19;
}

.words-item b {
  font-family: Open Sans;
  font-size: 1rem;
  font-weight: 600;
  color: #EA7D28; 
}

.words-slider {
  cursor: pointer;
  display: flex;
  gap: 20px;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  width: calc(100vw - 160px);
  padding: 5px 80px;
}

.words-slider::-webkit-scrollbar {
  display: none;
}

.words-item img {
  width: 300px;
  user-select: none;
}

/* Media Queries */

/* For navbar */
@media only screen and (max-width: 1370px) {
  #btn-nav-toggle {
    display: block;
  }
  .inner-nav {
    display: none;
  }
}

@media only screen and (max-width: 810px) {
  .right-nav {
    display: none;
  }
  nav {
    justify-content: space-around !important;
  }
  #logo {
    margin: 0 !important;
  }
}

/* For Treatment modal */
@media only screen and (max-width: 1250px) {
  #treatments-modal {
    top: 40px;
    justify-content: start;
    flex-direction: column;
    height: 70vh;
    overflow: auto;
  }
}

@media only screen and (max-width: 450px) {
  #treatments-modal {
    left: 0;
    right: 0;
  }
}

/* For Book Modal */

@media only screen and (max-width: 700px) {
  #book-modal {
    width: 80vw;
  }
}

/* For face  */

@media only screen and (max-width: 940px) {
  .item-content h1 {
    font-size: 3rem;
  }
  
  .item-content p {
    font-size: 1.2rem;
  }
  
  .item-content b {
    font-size: 1.2rem;
  }

  .btn-buy-now {
    padding: 20px 115px;
  }
}

@media only screen and (max-width: 830px) {
  #model-girl {
    width: 400px;
    margin-top: 155px;
  }

  .btn-buy-now {
    padding: 20px 80px;
  }
}

@media only screen and (max-width: 760px) {
  #model-girl {
    position: absolute;
    width: 80vw;
    z-index: 0;
    right: 5vw;
    margin-top: 155px !important;
  }

  .item-content h1 {
    background-color: #9692f194;
    width: 80vw;
    border-radius: 5px;
    padding: 10px;
  }
  
  .item-content p {
    background-color: #9692f194;
    color: #303030;
    font-weight: 500;
    width: 80vw;
    border-radius: 5px;
    padding: 10px;
  }
  
  .item-content b {
    background-color: #9692f194;
    width: 80vw;
    border-radius: 5px;
    padding: 10px;
  }
  
  .face-item {
    justify-content: center;
    padding: 0;
    width: 100vw;
  }
}


/* Specialist section styling */

.specialists {
  background-color: #FFF9F4;
  display: flex;
}

.specialist-count {
  width: 700px;
  padding: 50px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 50px;
}

.specialist-count h3 {
  font-family: Raleway;
  font-weight: 700;
  font-size: 2.5rem;
  color: #303030;
}

.special-box{
  margin-left: 70px;
}

.special-content {
  margin-left: 60px;
}

.special-content p {
  font-family: Open Sans;
  font-weight: 500;
  font-size: 1.2rem;
  color: #4D2C19;
}

.special-content b {
  font-family: Open Sans;
  font-weight: 700;
  font-size: 1.2rem;
  color: #4D2C19;
}

.special-content p b {
  font-family: Open Sans;
  font-weight: 600;
  font-size: 1.2rem;
  color: #EA7D28;
}

.special-slider {
  display: flex;
  gap: 16px;
  width: 58vw;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  margin-bottom: 40px;
}

.special-slider::-webkit-scrollbar {
  display: none;
}

.btn-meet {
  padding: 20px 30px;
  width: 250px;
  text-align: center;
  cursor: pointer;
}

.slide-content {
  margin-top: 12px;
  margin-left: 3px;
}

.slide-content b {
  font-family: Open Sans;
  font-weight: 700;
  font-size: 1.4rem;
  color: #303030;
}

.slide-content  {
  font-family: Open Sans;
  font-weight: 400;
  font-size: 1rem;
  color: #474747;
}

/* info styling */

.info-slider {
  margin: 20px 0px;
  background-color: #FFEFE2;
  width: fit-content;
  height: 40px;
  display: flex;
  gap: 36px;
  padding: 20px;
  animation: infoScroll 50s linear infinite;
}

.info-slider-item {
  gap: 15px;
}

.info-slider-item b{
  font-family: Open Sans;
  font-weight: 700;
  font-size: 1rem;
  color: #C96A34;
}

.info-slider-item p{
  font-family: Open Sans;
  font-weight: 700;
  font-size: 1rem;
  color: #000000;
}

.info-slider-item img{
  width: 35px;
}

@keyframes infoScroll {
  0% {
    transform: translateX(0);
  }
  70% {
    transform: translateX(-100%);
  }
}

/* Styling for images slider */

.images-slider {
  display: flex;
  gap: 36px;
  margin: 70px 30px;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-x: scroll;
}

.images-slider::-webkit-scrollbar {
  display: none;
}

.images-slider img {
  width: 55vw;
  border-radius: 30px;
}


/* Blog section Styling */

.blog {
  padding: 50px 70px;
  background-color: #FFF9F4;
}

.blog-heading {
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.blog-heading h3 {
  font-family: Raleway;
  font-weight: 700;
  font-size: 2.2rem;
  color: #303030;
  text-align: center;
}

.blog-menu {
  display: flex;
  gap: 16px;
  list-style: none;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.blog-menu li {
  font-family: Open Sans;
  font-weight: 400;
  font-size: 1.5rem;
  color: #878787;
}

.blog-hr {
  width: 1px;
  height: 25px;
  border-radius: 50px;
  background-color: #878787;
}

.blog-items {
  display: flex;
  flex-wrap: wrap;
  column-gap: 28px;
  row-gap: 36px;
  margin: 70px 20px;
  justify-content: center;
}

.blog-item {
  display: flex;
  gap: 16px;
}

.blog-item-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.blog-item-content b {
  font-family: Open Sans;
  font-weight: 600;
  font-size: 1.3rem;
  color: #303030;
}

.blog-item-content p {
  font-family: Open Sans;
  font-weight: 400;
  font-size: 1rem;
  color: #7D7D7D;
}

#company-number {
  font-family: Open Sans;
  font-weight: 700;
  color: #EA7D28 !important;
  font-size: 2.5rem !important;
}

.trust-heading {
  align-self: start;
  margin-left: 20px;
}

.trust-heading b {
  font-family: Raleway;
  font-weight: 700;
  color: #000000;
  font-size: 1.8rem;
}

.trust-heading p {
  font-family: Open Sans;
  font-weight: 400;
  color: #474747;
  font-size: 1rem;
}


/* styling for trust section  */

.trust {
  margin-top: 30px;
  width: calc(100vw - 120px);
  padding: 70px 60px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

#hand-shake-img {
  width: 80vw;
}

.trusting-companies {
  background: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border-radius: 20px;
  width: 70vw;
  padding: 40px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 36px;
  position: absolute;
  bottom: -200px;
  overflow-x: hidden;
}

.company-slider {
  background-color: transparent;
}

.company-img {
  width: 10vw !important;
}


/* Styling for beyong section */

.beyond {
  margin-top: 250px;
  padding: 30px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 36px;
}

.beyond-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 36px;
  flex-wrap: wrap;
}

.beyond-heading {
  margin-bottom: 20px;
}

.beyond-heading h2 {
  font-family: Raleway;
  font-weight: 700;
  font-size: 2.3rem;
  color: #303030;
}

.beyond-heading p {
  font-family: Open Sans;
  font-weight: 400;
  font-size: 1.4rem;
  color: #474747;
}


.beyond-card {
  background-color: #FFFFFF;
  border-radius: 10px;
  width: 210px;
  height: 190px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  column-gap: 48px;
  row-gap: 24px;
}

.beyond-card p {
  font-family: Open Sans;
  font-weight: 600;
  color: #303030;
  font-size: 1rem;
}


/* FAQ section styling */

.FAQ {
  background-color: #FFFFFF;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.qns-container {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
}

.FAQ h4 {
  font-family: Raleway;
  font-weight: 700;
  font-size: 2rem;
  color: #303030;
}

.qns {
  font-family: Open Sans;
  font-weight: 600;
  font-size: 1.3rem;
  color: #303030;
  margin: 30px 10px;
}

/* Foot styling */

.foot {
  margin-top: 40px;
  background-color: #3D2010;
  padding: 50px 10px 390px 10px;
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 48px;
  position: relative;
  flex-wrap: wrap;
}

.foot-headings {
  font-family: Raleway;
  font-weight: 500;
  color: #FFEFE2;
  font-size: 2rem;
  margin-bottom: 20px;
}

.foot-links {
  font-family: Open Sans;
  font-weight: 300;
  color: #FFEFE2;
  font-size: 1.2rem;
  margin: 20px;
  cursor: pointer;
}

.social {
  margin-top: 20px;
}

.social img {
  cursor: pointer;
  margin: 5px 20px;
}

.foot-rights {
  position: absolute;
  font-family: Open Sans;
  font-weight: 300;
  color: #9F9F9F;
  font-size: 1.2rem;
  margin: 20px;
  bottom: 10px;
}

.footer-logo {
  position: absolute;
  bottom: 100px;
  width: 50vw;
}

/* For features-1  */

@media only screen and (max-width: 1200px) {
  #features-1 {
    flex-wrap: wrap;
    justify-content: center;
  }
  .margin-1200 {
    margin: 30px 10px;
  }
  #horizontal-line {
    display: none;
  }
}

@media only screen and (max-width: 1200px) {
  #features-1 {
    flex-wrap: wrap;
    justify-content: center;
  }
  .margin-1200 {
    margin: 30px 10px;
  }
  #horizontal-line {
    display: none;
  }
}


/* For services  */

@media only screen and (max-width: 850px) {
  #services {
    padding: 80px 0px;
    justify-content: center;
  }
  .service-items {
    column-gap: 9px;
  }
}

/* For consultation  */

@media only screen and (max-width: 1360px) {
  .contact-form {
    padding: 45px 40px 30px 46px;
    width: 30vw;
  }
  .proto-heading {
    font-size: 2rem;
  }
  .proto-sub-heading {
    font-size: 1.2rem;
  }
  .proto-sub-heading #ai {
    top: -5px;
  }
  .btn-learn {
    font-size: 0.8rem;
  }
  #doctor-img {
    width: 300px;
  }
  .neighbour-heading {
    font-size: 1rem;
  }
  .neighbour-sub-heading {
    font-size: 0.7rem;
  }
  .neighbourhood {
    width: 275px;
  }
}

@media only screen and (max-width: 1080px) {
  .consultation {
    flex-wrap: wrap;
    justify-content: center;
  }
  .consultation-features {
    justify-content: center;
  }
  .contact-form {
    padding: 45px 40px 30px 100px;
    width: 42vw;
  }
}

@media only screen and (max-width: 850px) {
  .contact-form {
    padding: 20px;
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width: 700px) {
  .protocols {
    width: 80vw;
  }
  #doctor-img {
    width: 30vw;
  }
  .neighbour-container {
    flex-wrap: wrap;
  }
  .neighbourhood {
    width: 60vw;
  }
}

/* For specialists */

@media only screen and (max-width: 1250px) {
  .specialists {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .specialist-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width: 800px) {
  .specialist-details {
    width: 90vw;
    margin-top: 30px;
  }
  #right-specialist {
    margin: 0;
  }
  .specialist-count {
    width: fit-content !important;
  }
  .special-content p {
    font-size: 0.8rem;
  }
  .special-content b {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 800px) {
  .special-slider {
    width: 80vw;
  }
  .special-slider-item img {
    width: 60vw;
  }
  .specialist-count h3 {
    font-size: 1rem;
  }
  .special-count {
    width: 70vw !important;
    padding: 10px 0px !important;
    margin: 0 !important;
  }
  .special-box {
    margin-left: 10px;
  }
  #second-box {
    margin-left: 10px !important;
  }
  #third-box {
    margin-left: 10px !important;
  }
  .specialist-count {
    width: 85vw !important;
    padding: 20px 5px;
  }
}

/* Blog responsiveness */

@media only screen and (max-width: 1140px) {
  .blog-item {
    flex-direction: column;
  }
  .blog-items {
    justify-content: center;
  }
}

@media only screen and (max-width: 450px) {
  .blog-menu li {
    font-size: 1rem;
  }
  .blog-heading h3 {
    font-size: 1.4rem;
  }
  .blog-item-content b {
    font-size: 1rem;
  }
  .blog-item-content p {
    font-size: 0.8rem;
    margin-top: 8px;
  }
  .blog-hr {
    display: none;
  }
  .blog {
    padding: 10px;
  }
  .blog-items img {
    width: 65vw;
  }
  .own-words h3 {
    font-size: 1.6rem;
  }
  .btn-meet {
    width: 50vw;
  }
  .consultation {
    width: 90vw;
  }
}

@media only screen and (max-width: 1440px){
  .qns-container{
    justify-content: center;
  }
}